<h1>
  <%= render_title_by_role(params[:r])  %>
  <small>
    (<%= @people.size %>)
  </small>
</h1>

<p>
  <%= link_to 'New Person', new_person_path(internal: true), class: 'btn btn-secondary text-white' %></p>

<p>
  <% Person::STATES.each do |key, state| %>
    <% state_name = state.to_s.humanize %>
    <% if params[:s].to_s == state.to_s %>
      <% badge_class = state_batches[state] %>
    <% else %>
      <% badge_class = 'secondary' %>
    <% end %>
    <%= link_to state_name, { controller: 'people', action: 'index', r: params[:r], s: state }, class: "badge badge-#{badge_class}" %>
  <% end %>
  <%= link_to 'X', { controller: 'people', action: 'index', r: params[:r] }, class: "badge badge-secondary" %>
</p>


<table class="table table-striped">
  <thead>
    <tr>
      <th scope="col">Random ID</th>
      <th scope="col">
        <%= link_to 'Role', { sort_by: 'role', direction: next_direction('role') } %>
        <%= sort_indicator('role') %>
      </th>
      <th scope="col">
        <%= link_to 'State', { sort_by: 'state', direction: next_direction('state') } %>
        <%= sort_indicator('state') %>
      </th>
      <th scope="col">Pronoun</th>
      <th scope="col">Name</th>
      <th scope="col">Email</th>
      <th scope="col">Tags</th>
    </tr>
  </thead>

  <tbody>
    <% @people.each do |person| %>
      <tr>
        <td><%= link_to person.random_id, person %></td>
        <td><%= render_person_role(person) %></td>
        <td>
          <span class="badge badge-<%= state_batches[person.state_name] %> float-right">
            <%= person.state_name.to_s.humanize %>
          </span>
        </td>
        <td><%= person.pronoun %></td>
        <td><%= person.name %></td>
        <td><%= person.email %></td>
        <td><%= person.tag_list %></td>
      </tr>
    <% end %>
  </tbody>
</table>
