<div class="card">
  <div class="card-header">
    <span class="badge badge-<%= state_batches[@person.state_name] %>"><%= @person.state_name.to_s.humanize %></span>
    <%= @person.name %> (<%= render_person_role(@person) %>)
  </div>
  <div class="card-body">
    <%= link_to 'Edit', edit_person_path(@person), class: 'btn btn-primary active float-right' %>
    <p>
      <strong>Name:</strong>
      <%= @person.name %>
    </p>

    <p>
      <strong>Pronoun:</strong>
      <%= @person.pronoun %>
    </p>

    <p>
      <strong>Email:</strong>
      <%= link_to @person.email, 'mailto:' + @person.email %>
    </p>

    <p>
      <strong>About:</strong><br>
      <%= simple_format(@person.about) %>
    </p>
    <p>
      <strong>Tags:</strong>
      <%= @person.tag_list %>
    </p>
    <p>
      <strong>Conference Ticket:</strong>
      <%= render_conference_ticket_badge(@person) %>
    </p>
    <% if @person.group %>
    <p>
      <strong>Group:</strong>
      <%= link_to @person.group.label, @person.group %>
    </p>
    <% end %>
  </div>
</div>

<div class="row mt-12">
  <div class="col-md-12 mt-4 mb-4">
    <div class="border p-4">
      <h4 class="mb-4">Manage Person</h4>
      <div class="d-flex" style="gap:1rem;" role="group">
        <%= link_to 'Set to waiting', { action: "change_state", random_id: @person, state: 4 }, { class: 'btn btn-warning btn-lg' } %>
        <%= link_to 'Manage Ticket state', edit_conference_ticket_path(@person.verification_token), class: 'btn btn-info btn-lg' %>
        <% if !current_person.nil? && (@person.isgodmother? || @person.role == 3) %>
          <%= button_to 'Send Password Reset', send_password_reset_person_path(@person), method: :post, class: "btn btn-secondary btn-lg" %>
        <% end %>
      </div>
    </div>
  </div>
</div>

<div class="row">
  <div class="col-md-12">
    <div class="border border-danger p-4">
      <h4 class="mb-4 text-danger">Danger Zone</h4>
      <div class="d-flex" style="gap:1rem;" role="group">
        <%= link_to 'Declined', { action: "change_state", id: @person.id, state: 23 }, { class: 'btn btn-danger btn-lg' } %>
        <%= link_to 'Delete', @person, method: :delete, data: { confirm: 'Are you sure?' }, class: 'btn btn-danger btn-lg' %>
      </div>
    </div>
  </div>
</div>
