<h1>Edit Group <small>(<%= @group.mentors.map { |m| m.name }.join(', ') %>)</small></h1>
<% if @group.done? %>
  <div class="alert alert-warning" role="alert">
    This group is already done and the mentor/s got their email. Be careful with your changes!
  </div>
<% end %>

<%= bootstrap_form_with(model: @group, local: true) do |form| %>

  <div class="align-items-end mb-4">
    <%= form.submit 'Save Group', class: 'btn btn-primary' %>
    <%= link_to 'Back to Group', @group, { class: 'btn btn-secondary text-white'} %>
    <a class="btn btn-secondary" data-toggle="collapse" href="#collapseExample" role="button" aria-expanded="false" aria-controls="collapseExample">Edit group mentors</a>
  </div>

  <div class="collapse" id="collapseExample">
    <h4>Select one or more mentors</h4>
    <table class="table table-striped">
      <thead>
        <tr>
          <th scope="col"></th>
          <th scope="col">Pronoun</th>
          <th scope="col">Name</th>
          <th scope="col">About</th>
          <th scope="col">Tags</th>
        </tr>
      </thead>

      <tbody>
        <% @mentors.each do |mentor| %>
          <tr>
            <td><%= check_box_tag "group[mentor_ids][]", mentor.id, (mentor.group_id && @group.mentors.include?(mentor)) %></td>
            <td><%= mentor.pronoun %></td>
            <td><%= link_to mentor.name, mentor %></td>
            <td><%= mentor.about %></td>
            <td><%= mentor.tag_list %></td>
          </tr>
        <% end %>
      </tbody>
    </table>
  </div>

  <div class="border border-primary" style="padding: 1rem; position: sticky; top:50px; background-color: white; z-index:100;">
    <h4>Current group mentors</h4>
    <table id="current_group_mentors" class="table table-striped">
      <thead>
        <tr>
          <th scope="col">Pronoun</th>
          <th scope="col">Name</th>
          <th scope="col">About</th>
          <th scope="col">Tags</th>
        </tr>
      </thead>

      <tbody>
        <% @group.mentors.each do |mentor| %>
          <tr>
            <td><%= mentor.pronoun %></td>
            <td><%= link_to mentor.name, mentor %></td>
            <td><%= mentor.about %></td>
            <td><%= mentor.tag_list %></td>
          </tr>
        <% end %>
      </tbody>
    </table>
  </div>
  
  <div class="border border-primary mt-4" style="padding: 1rem;">
    <h4>Current group mentees</h4>
    <table id="current_group_mentees" class="table table-striped">
      <thead>
        <tr>
          <th scope="col"></th>
          <th scope="col">Pronoun</th>
          <th scope="col">Name</th>
          <th scope="col">About</th>
          <th scope="col">Tags</th>
        </tr>
      </thead>

      <tbody>
        <% @group.mentees.each do |mentee| %>
          <tr>
            <td><%= check_box_tag "group[mentee_ids][]", mentee.id, (mentee.group_id && @group.mentees.include?(mentee)) %></td>
            <td><%= mentee.pronoun %></td>
            <td><%= link_to mentee.name, mentee %></td>
            <td><%= mentee.about %></td>
            <td><%= mentee.tag_list %></td>
          </tr>
        <% end %>
      </tbody>
    </table>
  </div>

  <div class="mt-4">
    <h4>Search mentees to add to this group</h4>
    <table class="table table-striped" id="person-datatable" data-source="<%= search_path(format: :json, role: 'mentee', state: 'waiting') %>">
      <thead>
        <tr>
          <th></th>
          <th>Pronoun</th>
          <th>Name</th>
          <th>E-Mail</th>
          <th>About</th>
          <th>Tags</th>
        </tr>
      </thead>
      <tbody>
      </tbody>
    </table>
  </div>

<% end %>
