<ul class="flex flex-col lg:flex-row text-center lg:text-left justify-between gap-4 font-mono">
  <li>
    <a href="<%= public_url('/contact') %>"><%= t('contact') %> <%= inline_svg 'icon-arrow-right.svg', class: 'inline w-4' %></a>
  </li>
  <li>
    <a href="https://legal.cccv.de/"><%= t('privacy_policy_imprint') %> <%= inline_svg 'icon-arrow-right.svg', class: 'inline w-4' %></a>
  </li>
</ul>