<!doctype html>
<html lang="<%= I18n.locale %>" class="h-full antialiased">
  <head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">

    <title>Chaospat:innen at Chaos Communication Congress</title>
    <%= csrf_meta_tags %>
    <%= csp_meta_tag %>

    <%= stylesheet_link_tag 'tailwind', media: 'all', 'data-turbolinks-track': 'reload' %>
    <%= stylesheet_link_tag 'vendor', media: 'all', 'data-turbolinks-track': 'reload' %>
    <%= javascript_include_tag 'public', 'data-turbolinks-track': 'reload' %>
  </head>

  <body class="flex min-h-full flex-col bg-darkblue text-white">
    <div class="relative flex-none overflow-hidden px-6 lg:pointer-events-none lg:fixed lg:inset-0 lg:z-40 lg:flex lg:px-0 border-b-2 lg:border-none border-dashed mb-10 lg:mb-0">
      <div class="relative flex w-full lg:pointer-events-auto lg:mr-[calc(max(2rem,50%-38rem)+40rem)] lg:min-w-[32rem] lg:overflow-y-auto lg:overflow-x-hidden lg:pl-[max(4rem,calc(50%-38rem))]">
        <div class="mx-auto max-w-lg lg:mx-0 lg:flex lg:w-[34rem] lg:max-w-none lg:flex-col lg:before:flex-1 lg:before:pt-6">
          <div class="relative pb-16 pt-10 lg:pt-20 lg:py-20">
            <div class="flex justify-center gap-4 lg:block">
              <button id="chaos" aria-hidden="true">
                <%= image_tag 'mentor_mentee.png', class: 'active:scale-[.98] w-20 lg:absolute lg:top-[-10rem] lg:right-0 lg:mx-auto lg:w-48' %>
                <%= image_tag 'chaosmentors-desk.png', class: 'hidden active:scale-[.98] w-20 lg:absolute lg:top-[-6rem] lg:right-[3rem] lg:mx-auto lg:w-48' %>
              </button>
              <div class="relative flex lg:block">
                <a href="<%= public_url('/') %>" class="self-center">
                  <%= inline_svg 'logo.svg', class: 'w-full lg:w-[28rem] lg:m-0' %>
                </a>
                <p class="mt-10 hidden lg:block"><%= t('intro_text') %></p>
              </div>
            </div>
            <div>
              <% if registration_open? -%>
                <% reg_types = registration_types %>
                <% justify_class = reg_types.size == 1 ? 'lg:justify-center' : 'lg:justify-start' %>
                
                <div class="flex justify-center flex-col md:flex-row <%= justify_class %> gap-6 mt-10">
                  <% if reg_types.include?('mentee') %>
                    <%= render 'shared/button', url: public_url('/people/new?r=mentee'), icon: 'icon-handsup.svg' do %>
                      <%= t('register_as_mentee') %>
                    <% end %>
                  <% end %>
                  <% if reg_types.include?('mentor') %>
                    <%= render 'shared/button', url: public_url('/people/new?r=mentor'), icon: 'icon-dino.svg' do %>
                      <%= t('register_as_mentor') %>
                    <% end %>
                  <% end %>
                </div>
              <% else %>
              <div class="mt-10 flex gap-4">
                <%= inline_svg 'icon-dino.svg' %>
                <p><strong><%= t('registration_closed') %></strong></p>
              </div>
              <% end %>
              <div class="relative mt-10 flex justify-center gap-2 font-mono">
                <span aria-hidden="true" class="inline"><%= inline_svg 'icon-globe.svg', class: 'fill-white mr-2' %></span>
                <span><a href="<%= url_for(locale: 'en') %>">English</a> | <a href="<%= url_for(locale: 'de') %>">Deutsch</a></span></div>
            </div>
          </div>
          <div class="hidden lg:flex flex-1 items-end justify-center pb-6 lg:justify-start lg:pb-6">
            <%= render 'shared/footer' %>
          </div>
        </div>
      </div>
    </div>
    <div class="relative flex-auto">
      <main class="space-y-20 lg:py-20 sm:space-y-32 mb-6 lg:mb-0 text-white">
        <div class="mx-auto max-w-7xl px-6 lg:flex lg:px-8">
          <div class="lg:ml-96 lg:flex lg:w-full lg:justify-end lg:pl-32">
            <div class="mx-auto max-w-lg lg:mx-0 lg:w-0 lg:max-w-xl lg:flex-auto prose prose-invert">
              <%= flash_messages(flash, class: 'bg-purple text-white px-4 py-2 mb-8') %>
              <%= yield %>
              <% flash.clear %>
            </div>
          </div>
        </div>
        <div class="block lg:hidden mx-auto max-w-lg">
          <%= render 'shared/footer' %>
        </div>
      </main>
    </div>
  </body>
</html>

