<!doctype html>
<html lang="en" class="h-full antialiased">
  <head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">

    <title>Chaos:patinnen</title>
    <%= csrf_meta_tags %>
    <%= csp_meta_tag %>

    <%= stylesheet_link_tag 'tailwind', media: 'all', 'data-turbolinks-track': 'reload' %>
    <%= stylesheet_link_tag 'vendor', media: 'all', 'data-turbolinks-track': 'reload' %>
    <%= javascript_include_tag 'application', 'data-turbolinks-track': 'reload' %>
  </head>

  <body class="flex min-h-full flex-col bg-darkblue text-white">
    <!-- Fixed Sidebar -->
    <div class="relative flex-none overflow-hidden px-6 lg:pointer-events-none lg:fixed lg:inset-0 lg:z-40 lg:flex lg:px-0">
      <div class="relative flex w-full lg:pointer-events-auto lg:mr-[calc(max(2rem,50%-38rem)+40rem)] lg:min-w-[32rem] lg:overflow-y-auto lg:overflow-x-hidden lg:pl-[max(4rem,calc(50%-38rem))]">
        <div class="mx-auto max-w-lg lg:mx-0 lg:flex lg:w-[30rem] lg:max-w-none lg:flex-col lg:before:flex-1 lg:before:pt-6">
          <div class="relative pb-16 pt-20 lg:py-20">
            <%= image_tag 'mentor_mentee.png', class: 'lg:absolute lg:top-[-10rem] lg:right-0 mx-auto w-48' %>
            <div class="relative">
              <a href="/" class="block">
                <%= inline_svg 'logo.svg', class: 'mx-auto w-80 lg:w-[29rem] lg:m-0' %>
              </a>
              <p class="mt-10">TL;DR — Chaosmentors at Chaos Communication Congress offers mentorship and support for newcomers to help them feel welcome and comfortable.</p>

              <% if Rails.configuration.x.basic.registration_open && sessionEnabled -%>
              <div class="flex justify-center md:justify-start space-x-6 mt-10">
                <%= render 'shared/button', url: '/people/new?r=mentee', icon: 'icon-handsup.svg' do %>
                  Register as mentee
                <% end %>
                <%= render 'shared/button', url: '/people/new?r=mentor', icon: 'icon-dino.svg' do %>
                  Register as mentor
                <% end %>
              </div>
              <% else %>
              <div class="mt-10 flex gap-4">
                <%= inline_svg 'icon-dino.svg' %>
                <p><strong>Registration is currently closed :(</strong></p>
              </div>
              <% end %>
            </div>
          </div>
          <div class="flex flex-1 items-end justify-center pb-4 lg:justify-start lg:pb-6">
            <ul class="flex justify-between gap-4 font-mono">
              <li>
                <a href="/contact">Contact <%= inline_svg 'icon-arrow-right.svg', class: 'inline w-4' %></a>
              </li>
              <li>
                <a href="/privacy">Privacy statement <%= inline_svg 'icon-arrow-right.svg', class: 'inline w-4' %></a>
              </li>
              <li>
                <a href="/imprint">Imprint <%= inline_svg 'icon-arrow-right.svg', class: 'inline w-4' %></a>
              </li>
            </ul>
          </div>
        </div>
      </div>
    </div>
    <div class="relative flex-auto">
      <main class="space-y-20 py-20 sm:space-y-32 sm:py-32 text-white">
        
        <div class="mx-auto max-w-7xl px-6 lg:flex lg:px-8">
          <div class="lg:ml-96 lg:flex lg:w-full lg:justify-end lg:pl-32">
            <div class="mx-auto max-w-lg lg:mx-0 lg:w-0 lg:max-w-xl lg:flex-auto prose prose-invert">
              <%= flash_messages(flash, class: 'bg-purple text-white px-4 py-2 mb-8') %>
              <%= yield %>
            </div>
          </div>
        </div>
        
      </main>
    </div>
  </body>
</html>

